* {
    box-sizing: border-box;
    border-style: none;
    border-width:0px;
    border: 0px;
    padding: 0px;
    margin: 0px;
  }
  body {
    font-family: "Times New Roman', Times, serif";
    background-color: #333;
    width: 100%;
    width: 100vw;
    margin: 0;
    padding: 0;
    border: 0;

}

#topbanner {
        width: 100%;
        width: 100vw;
        height: 60px;
        position: static;
        background-color: #333;

}

#Logo {float: left;
    width: 5%;
height: 100%;
background-color: #333;
vertical-align: middle;
padding-top:14px;

}

#LogoTextSpace{float:right;
width: 95%;
height: 100%;
background-color: #333;
padding-top: 15px;

}

#LogoText {color: white;}

#PreNavBar {width:100%;
position: static;
height: 2px;
background-color: red;}

#NavBar {width:100%;
    position: static;

padding: 0px;
margin: 0px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

#content {padding-top: 4px;
    position: static;}
